*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* padding: 10px; */
}

.nav{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    color: rgb(249, 248, 248);
    background: black;
    padding: 20px;
}

.row1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
}

.row1Left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

h1{
    text-align: center;
    margin: 20px;
}

.imagerow1left{
    width: 550px;
    /* height: 100px; */
}

.row1right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.row1right ul li{
    list-style: none;
    font-size: 20px;
    line-height: 40px;
}

.row1right img{
    width: 550px;
}

.row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 10px; */
    

}

.row2 img{
    width: 45%;
}

.row3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* padding: 10px; */

}

.row3left{
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row3left video{
    width: 100%;
    border: 2px solid rgb(165, 89, 241);
    border-radius: 4px;
}

.row3left h1{
    font-weight: 100;
    font-size: 28px;
}

.row3left p{
    line-height: 25px;
    text-align: center;
    font-size: 22px;

}

.row3right{
    width: 44%;
}

.row3right span{
    color: red;
    text-decoration: line-through;
}

.row3right h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.row3right p{
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 25px;
    text-align: center;
}

.row4{
    width: 100%;
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

.row4 h1{
    color: red;
}

.row4img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row4Second{
    line-height: 50px;
}

.row4btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row4btn button{
    padding: 20px;
    background: red;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

.row4 .row4Second{
    padding: 20px;
}

.row4 .row4Second h3{
    line-height: 30px;
}

.row5{
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.review{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.row5 .box{
    background-color: #040404;
    border-radius: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    padding: 15px;
}



.checked{
    color: rgb(244, 156, 4);
}

.box img{
    width: 250px;
    height: 300px;
    padding: 10px;
}

.review .box video{
    width: 250px;
    height: 300px;
    padding: 10px;
}

.box .star{
    margin: 5px 0;
}

.row5btn{
    margin: 10px;
}

.row5btn a button{
    padding: 10px 20px 10px 20px;
    background: red;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    
}

.row6{
    background-color: black;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.row6 p{
    margin-bottom: 10px;
}

.row6img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.row7{
    color: black;
    display: flex;
    flex-direction: column;
}

.row7 .container-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row7 .container-box .box{
    background: black;
    width: 350px;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

/* .container-box .box span{
  
} */

.row7 img{
    margin: 0 auto;
}



.Pheader{
    background: black;
    text-align: center;
    color: white;
    width: 100%;
}

.Pheader h1{
    margin: 10px 0 5px 0;
    padding-top: 10px;
}

.Pheader p{
    padding-bottom: 20px;
}

.packages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin: 10px;
}

.packageTypes{
    display: flex;
    justify-content: space-between;
    align-items: center;margin-bottom: 20px;
}

.Pbody{
    text-align: center;
}

.Pbody .span1{
    padding: 40px;
}

.Pbody span h1{
    margin: 0;
    font-size: 50px;
}

.Pbody .span2 p{
    font-weight:bolder;
    font-size: small;
    padding: 15px;
}

.Pbody .span2 .list{
    border-bottom: 1px solid black;
}


.Pbody .span2 button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background: black;
    color: #fff;
}

.Pbody .span2 h5{
    margin-bottom: 30px;
}

.row9{
    background: black;
    color:#fff;
    text-align: center;
    padding: 10px 0;
}

.row9 h5{
    margin-bottom: 10px;
    font-size: 20px;
}

.row9 h3{
    margin-top: 20px;
}

.row10{
    padding: 50px;
}
form{
    display: grid;
    grid-template: 1fr 1fr;
    grid-gap: 20px;
}

form label{
    display: block;
    margin-bottom: 20PX;
}

form p{
    margin: 0;
}

form .full{
    grid-column: 1 / 3;
}

p select{
    padding: 15px 1px 15px 15px;
    /* line-height: 20px; */
}

form button, form input, form select{
    width: 100%;
    padding: 1rem;
    border: 1px solid grey;
    /* border-radius: 30px; */
    outline: none;
}

form button{
    background: black;
    color: #fff;
}

form button:hover, .contact form button:focus form select:focus{
    background: #f1cdcd;
    outline: 0;
    transition: 2s ease-out;
    color: black;

}

.row11{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.row11 p{
    margin-top: 20px;
}

.row11 a {
    margin-top: 20px;
    text-decoration: none;
    width: 100%;
}

.row11 a img {
    width: 250px;
}

.trademark{
    padding-bottom: 50px;
    padding-top: 30px;
}

.Nfb{
    padding-top: 20px;
}





@media(max-width:600px){
   .row1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
   }
   h1{
    margin: 0;
   }
   .row1Left{
    width: 100%;
   }

   .row1right{
    width: 100%;
   }

   .row1 h1{
    margin-bottom: 10px;
   }

   .row1right img{
    width: 350px;
    margin: 10px 0;
   }

   .row1Left img{
    width: 350px;
   }

   .row2{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .row2 img{
    width: 95%;
    margin-top: 10px;
   }

   .row3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;

   }
   .row3left{
    width: 80%;
    margin-bottom: 20px;
   }

    .row3left video{
        margin-bottom: 20px;
        width: 320px;
    }

    .row3right{
        width: 80%;
    }

    .row4img img{
        width: 370px;
        height: 300px;
    }

    .review{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box{
        width: 200px;

    }

    .row5btn{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row6img img{
        width: 350px;
        height: 300px;
    }

    .countDown{
        width: 350px;
    }

    .container-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-box .box{
        margin-bottom: 10px;
    }

    .review .box{
        width: 350px;
        margin-bottom: 20px;
    }

    .packageTypes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Pheader{
        width: auto;
        padding: 0 20px;
    }
    .row1,.row2,.row3,.row4,.row5,.row6.row7,
    .row8,.row9,.row10{
        overflow: hidden;
    }

    form{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }
}